.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  background-color: #4d5eff;
  border-radius: 50px;

  transition: 0.2s;
  transition-timing-function: ease-in-out;

  &:disabled {
    background-color: #949dff;
  }

  &:hover:not(:disabled) {
    color: #fff;
    background-color: #4d5eff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }

  &:active:not(:disabled) {
    color: #fff;
    background-color: #6574f7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

button.button {
  border: none;
}
