// Description section of the homepage.

section.Description {
  // Mobile styles

  margin: 0 auto 0;
  padding-top: 2.5rem;
  max-width: 87.5vw;

  h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.875rem;
    font-weight: normal;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
  }

  img {
    margin: 2rem auto;
    height: auto;
    width: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  // Desktop styles

  // Small laptops up to 1280x720
  @media only screen and (min-width: 80rem) {
    margin: 0 auto;
    padding-top: 4rem;
    max-width: 53.8125rem; // 861px, 70% of 1230px

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }

    img {
      margin: 2rem auto 1.5rem;
      border-radius: 20px;
    }
  }
}
