.About {
  // Mobile styles

  h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
  }

  p:last-child {
    margin: 0;
  }

  // Desktop styles

  // 700px (vertical tablets and horizontal phones)
  // Landscape and tablet optimized layout
  @media screen and (min-width: 43.75rem) {
    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      padding-left: 1.75vw;
      padding-right: 1.75vw;
    }

    img {
      margin: 2rem auto 1.5rem;
      border-radius: 20px;
    }
  }
}
