.About {
  // Mobile styles

  h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    font-family: 'Nunito', sans-serif;
  }

  p:last-child {
    margin: 0;
  }

  // Desktop styles

  // Small laptops up to 1280x720
  @media only screen and (min-width: 80rem) {
    h2 {
      font-size: 3rem;
      font-weight: normal;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.25rem;
    }

    img {
      margin: 2rem auto 1.5rem;
      border-radius: 20px;
    }
  }
}
