.Header {
  padding: 3rem 0;
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    max-width: 50rem;
  }
}
