.Event {
  p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
  }

  .event-banner-and-information {
    .event-banner-container {
      margin-bottom: 1rem;

      .event-banner {
        width: 100%;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      }
    }

    .event-information {
      padding: 1rem 8vw 0;

      .event-title {
        font-family: 'Nunito', sans-serif;
        font-size: 2rem;
        font-weight: bold;
      }

      .event-presenter {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        p {
          margin: 0 0 0 1rem;
        }

        .event-presenter-image {
          height: 3rem;
          border-radius: 100rem;
        }
      }

      .event-time {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        p {
          margin: 0 0 0 1rem;
        }

        svg {
          height: 2rem;
          width: 2rem;
        }
      }

      .event-location {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        p {
          margin: 0 0 0 1rem;
        }

        svg {
          height: 2rem;
          width: 2rem;
        }
      }

      .event-link {
        a {
          display: block;
          margin: 0 auto 2rem;
          text-align: center;
          text-decoration: none;
          font-family: 'Nunito', sans-serif;
          font-size: 1.5rem;
          transition: 0.2s;
          transition-timing-function: ease-in-out;
          padding: 1rem;
          width: 95%;
          color: #fff;
          font-weight: bold;
          background-color: #3bba7d;
          border-radius: 50px;
        }

        a:hover {
          background-color: #4dc98d;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        a:active {
          background-color: #3bba7d;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .event-descriptions {
    padding: 0 8vw 1rem;

    .event-short-description {
      font-weight: bold;
    }
  }

  // 700px/43.75rem and above (Vertical tablets and large horizontal phones)
  // 10vw of padding for width on large horizontal phones and tablets
  @media screen and (min-width: 43.75rem) {
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem 5vw 5vw;

    // Padding for landscape iPhones with notch
    @supports (padding: max(0px)) {
      @media screen and (orientation: landscape) {
        padding-left: max(5vw, calc(env(safe-area-inset-left) + 5vw));
        padding-right: max(5vw, calc(env(safe-area-inset-right) + 5vw));
      }
    }

    .event-banner-and-information {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .event-banner-container {
        width: 55%;

        .event-banner {
          border-radius: 15px;
        }
      }

      .event-information {
        padding: 0;
        width: 40%;

        .event-presenter {
          margin-bottom: 1rem;
        }

        .event-link {
          a {
            margin: 0 auto;
          }
        }
      }
    }

    .event-descriptions {
      padding: 0 5vw;
    }
  }

  // 1024px (horizontal tablets)
  @media screen and (min-width: 64rem) {
    padding: 5vw;

    .event-banner-and-information {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .event-banner-container {
        width: 66.25%;
      }

      .event-information {
        margin-top: 0.66rem;
        padding: 0;
        width: 30%;

        .event-presenter {
          margin-bottom: 22.5%;
        }
      }
    }

    .event-descriptions {
      padding: 0 0 0 0.66rem;
      width: 65%;

      .event-short-description {
        font-size: 1.5rem;
      }
    }
  }

  // 1366px (medium laptops)
  // Increase margin on top and set max width for all larger resolutions
  @media screen and (min-width: 85.375rem) {
    min-height: 80vh;
    margin: 4rem auto;
    padding: 0;
    max-width: var(--large-screen-max-width);

    .event-banner-and-information {
      .event-information {
        .event-presenter {
          margin-bottom: 7rem;
        }
      }
    }
  }
}

// Loading placeholder
.EventLoading {
  padding: 0 6.25vw;

  .ContentLoader {
    width: 50%;
    display: block;
    text-align: center;
    margin: 2rem auto 0;
  }
}

// TODO: Use a better solution for add to calendar feature

.AddToCalendarModal {
  display: flex;
  flex-direction: column;
  margin-top: 7.5%;
  padding: 1rem;
  height: 100vh;

  font-family: 'Nunito', sans-serif;
  text-align: center;

  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  outline: none;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 3rem 0 1rem;
  }

  div {
    display: flex;
    flex-direction: column;

    a {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  button {
    display: block;
    margin: 0.5rem auto 2rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    padding: 1rem;
    width: 95%;
    color: #000;
    font-weight: bold;
    background-color: #eee;
    border: none;
    border-radius: 50px;
  }

  button:hover {
    background-color: #ececec;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  }

  button:active {
    background-color: #dedede;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  }

  // 370px (larger phones)
  @media screen and (min-width: 23.125rem) {
    h2 {
      font-size: 2.5rem;
      margin: 3rem 0 1.5rem;
    }

    div {
      a {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  // Landscape phones
  @media screen and (orientation: landscape) {
    margin: 1rem auto;
    height: 100vh;

    h2 {
      font-size: 2rem;
      margin: 3rem 0 0.5rem;
    }

    div {
      flex-direction: row;
      justify-content: center;

      a {
        font-size: 1.5rem;
        padding: 0 1.5rem;
        margin: 0.5rem 0 0.25rem;
      }
    }

    button {
      font-size: 1.5rem;
      width: 50%;
    }
  }

  // 700px/43.75rem and above (Vertical tablets and large horizontal phones)
  // 10vw of padding for width on large horizontal phones and tablets
  @media screen and (min-width: 43.75rem) {
    margin: 15vw auto;
    width: 40rem;
    padding: 2rem;
    height: auto;

    h2 {
      font-size: 3rem;
      margin: 1.5rem 0 2rem;
    }

    div {
      a {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    button {
      width: 40%;
    }

    // Landscape phones
    @media screen and (orientation: landscape) {
      margin: 5% auto;
      height: 100vh;

      h2 {
        margin-bottom: 1rem;
      }

      div {
        flex-direction: row;
        justify-content: center;

        a {
          padding: 0 1.5rem;
        }
      }
    }
  }

  // 1024px (horizontal tablets)
  @media screen and (min-width: 64rem) {
    margin: 10vw auto;
    height: auto;

    h2 {
      margin-bottom: 2rem;
    }

    div {
      margin-bottom: 1rem;
    }
  }

  // 1100px (small laptops)
  // Set font size for all larger resolutions
  @media screen and (min-width: 68.75rem) {
    margin: 7.5vw auto;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
