.Contribute {
  margin: 0 auto;

  p {
    margin-bottom: 1.5rem;
  }

  p:last-of-type {
    margin-bottom: 0.5rem;
  }

  .contribute-list {
    margin: 0 auto;
  }

  .contribute-heading {
    padding: 2rem 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }

  // Volunteer section
  .contribute-volunteer {
    .contribute-open-roles-heading {
      font-weight: bold;
      text-align: center;
    }

    .Contribute-Role {
      margin-top: 1.5rem;

      h2 {
        font-size: 1.75rem;
        font-weight: bold;
        width: auto;
      }

      p {
        margin-bottom: 0.25rem;
      }

      ul {
        margin-bottom: 1.5rem;
      }

      a {
        text-align: center;
      }

      .role-apply {
        display: block;
        margin: 2rem auto 5rem;

        // Text style
        color: #fff;
        font-family: 'Nunito', sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;

        // Animation
        transition: 0.2s;
        transition-timing-function: ease-in-out;

        // Button styling
        padding: 1rem;
        background-color: #4d5eff;
        border-radius: 50px;
        width: 95%;
      }

      .role-apply:hover {
        background-color: #5767fe;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }

      .role-apply:active {
        background-color: #6574f7;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }

  // Open Source section
  .contribute-open-source-software {
    h3 {
      font-weight: bold;
    }

    .contribute-open-source-steps {
      li {
        padding: 0.5rem 0;
      }

      // Unindent these elements
      h4,
      .alert {
        margin-left: -40px;
      }

      h4 {
        margin-top: 2rem;
      }

      .alert {
        margin-bottom: 0.5rem;
      }

      // Negate the margin-top for the first h4
      .contribute-open-source-first {
        h4 {
          margin-top: 0;
        }
      }
    }
  }

  // 700px/43.75rem and above (Vertical tablets and large horizontal phones)
  // 10vw of padding for width on large horizontal phones and tablets
  @media screen and (min-width: 43.75rem) {
    .contribute-volunteer {
      .Contribute-Role {
        .role-apply {
          width: 40%;
        }
      }
    }
  }

  // 1024px (horizontal tablets)
  // Switch to max-width instead of using padding
  @media screen and (min-width: 64rem) {
    max-width: 48rem;
  }
}
