// Highlights section of the homepage.
.Highlights {
  margin: 2rem auto 0;
}

// Highlight component.
.Highlight {
  // Mobile styles

  margin: 4rem 0;
  padding: 3rem 0;

  .highlight-container {
    max-width: 87.5vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // border: 3px solid red;

    .highlight-content {
      h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
      }

      p {
        font-family: 'Nunito', sans-serif;
      }

      a {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
      }
    }

    .highlight-image {
      margin: 2rem auto 0;
      height: auto;
      width: 100%;
      box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  }

  // Desktop styles

  // Small laptops up to 1280x720
  @media only screen and (min-width: 80rem) {
    .highlight-container {
      max-width: 76.875rem; // 1230px
      align-items: center;
      justify-content: space-between;
      // border: 3px solid blue;

      .highlight-content {
        width: 42.5%;

        h2 {
          font-size: 3rem;
        }

        p {
          font-size: 1.25rem;
        }

        a {
          font-size: 1.75rem;
        }
      }

      .highlight-image {
        margin: 0;
        height: auto;
        width: 50%;
        border-radius: 20px;
      }
    }

    .highlight-container.highlight-learn,
    .highlight-container.highlight-network {
      flex-direction: row-reverse;
    }

    .highlight-container.highlight-collaborate {
      flex-direction: row;
    }
  }
}
