.Activity {
  .about-hackathonactivity-title {
    margin-bottom: 0;
  }
}

.about-hackathonactivity-subtitle {
  margin-bottom: 0.75rem;
  padding-left: 1.75vw;
  padding-right: 1.75vw;

  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: left;
}

// 700px (vertical tablets and horizontal phones)
// Landscape and tablet optimized layout
@media screen and (min-width: 43.75rem) {
  .about-hackathonactivity-subtitle {
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
  }
}
