section.welcome {
  margin-top: 6vh;
  // border: 3px dashed green;

  .welcome-background-container {
    // position: absolute;

    // height: 52.25vh;
    // width: 67.5vw;

    background-color: #f8eeff;
    padding: 5% 0;

    // border: 3px solid purple;
  }

  .welcome-container {
    max-width: 76.875rem; // 1230px
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }

  .welcome-content {
    max-width: 40%;

    h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: 400;
      font-family: 'Raleway', sans-serif;

      .Typewriter {
        display: inline-block;

        .Typewriter__wrapper {
          font-weight: bold;
        }
      }
    }

    p {
      margin: 1rem 0 0;
      font-family: 'Nunito', sans-serif;
      font-size: 1.25rem;
    }

    .welcome-action-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.25rem;

      // border: 3px solid red;

      a {
        font-size: 1.75rem;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        text-decoration: none;

        transition: 0.2s;
        transition-timing-function: ease-in-out;
      }

      a.join-button {
        padding: 1rem 2.5rem;
        color: #ffffff;
        font-weight: bold;
        background-color: #4d5eff;
        border-radius: 50px;
      }

      a.join-button:hover {
        background-color: #5767fe;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }

      a.learn-more {
        margin-left: 1rem;
        padding: 1rem 2.5rem;

        // font-weight: bold;
        box-shadow: 0 0 0 2px #be68ff inset;
        color: #9000ff;
        border-radius: 50px;
        background-color: initial;
        // border: 3px solid blue;
      }

      a.learn-more:hover {
        // background-color: #5767fe;
        color: #ac40ff;
        // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .welcome-slideshow {
    max-width: 52.5%;

    img {
      height: auto;
      width: 100%;

      box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 25px;
    }
  }

  // Phones
  @media only screen and (max-width: 540px) {
    margin-top: 0;

    .welcome-background-container {
      padding: 4vh 0;
    }

    .welcome-container {
      // border: 3px solid red;
      margin: 0 auto;
      flex-direction: column;

      .welcome-content {
        // border: 3px solid blue;
        max-width: 100%;
        h1 {
          font-size: 2.25rem;
        }

        p {
          margin-top: 1rem;
          font-size: 1rem;
          line-height: 1.25;
        }

        .welcome-action-buttons {
          flex-direction: column;
          margin-top: 2rem;

          a {
            padding: 1rem 8rem;
            font-size: 1.25rem;
          }

          a.join-button {
          }

          a.learn-more {
            // padding: 0.75rem 2rem;
            margin-top: 1rem;
            margin-left: 0;
          }
        }
      }

      .welcome-slideshow {
        margin-top: 2rem;
        max-width: 85vw;
      }
    }
  }

  // Small laptops up to 1280x720
  @media only screen and (max-width: 80rem) {
    .welcome-container {
      margin: 0 4.5vw;
    }

    .welcome-slideshow img {
      width: 100%;
      border-radius: 25px;
    }
  }
}
