// Welcome section of the homepage.

section.Welcome {
  // Mobile styles
  // The mobile h1 and paragraph sizing here is adjusted for the welcome area only!

  margin-top: 0;

  .welcome-background-container {
    background-color: #f8eeff;
    padding: 8% 0;
  }

  .welcome-container {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    .welcome-content {
      max-width: 100%;

      h1 {
        margin: 0;
        font-size: 1.875rem;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;

        .Typewriter {
          display: inline-block;

          .Typewriter__wrapper {
            font-weight: bold;
          }
        }
      }

      p {
        font-family: 'Nunito', sans-serif;
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.35;
      }

      .welcome-action-buttons {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        a {
          padding: 1rem;
          text-align: center;
          text-decoration: none;
          font-family: 'Nunito', sans-serif;
          font-size: 1.25rem;
          transition: 0.2s;
          transition-timing-function: ease-in-out;
          width: 90%;
        }

        a.join-button {
          color: #fff;
          font-weight: bold;
          background-color: #4d5eff;
          border-radius: 50px;
        }

        a.join-button:hover {
          background-color: #5767fe;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        a.join-button:active {
          background-color: #6574f7;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        a.learn-more {
          cursor: pointer;
          margin-top: 1rem;
          box-shadow: 0 0 0 2px #be68ff inset;
          color: #9000ff;
          border-radius: 50px;
          background-color: initial;
        }

        a.learn-more:hover {
          box-shadow: 0 0 0 2px #b661ff inset, 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        a.learn-more:active {
          box-shadow: 0 0 0 2px #b661ff inset, 0 4px 10px rgba(0, 0, 0, 0);
        }
      }
    }

    .welcome-slideshow {
      margin-top: 2rem;
      max-width: 87.5vw;

      img {
        height: auto;
        width: 100%;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }
    }
  }

  // 350px (medium phones)
  @media screen and (min-width: 21.875rem) {
    .welcome-container .welcome-content {
      h1 {
        font-size: 2.1rem;
      }

      p {
        font-size: 1.125rem;
      }
    }
  }

  // 370px (larger phones)
  @media screen and (min-width: 23.125rem) {
    .welcome-container .welcome-content {
      h1 {
        font-size: 2.25rem;
      }
    }
  }

  // Desktop styles
  // TODO: Make background look like prototype

  // 768px (tablet vertical)
  @media screen and (min-width: 48rem) {
    .welcome-background-container {
      padding: 5.5% 0;
    }

    .welcome-container {
      flex-direction: row;

      .welcome-content {
        max-width: 45%;

        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.1rem;
          line-height: 1.5;
        }

        .welcome-action-buttons {
          margin-top: 1.25rem;

          a {
            font-size: 1.5rem;
            width: 100%;
          }
        }
      }

      .welcome-slideshow {
        margin-top: 0;
        max-width: 50%;

        img {
          border-radius: 20px;
        }
      }
    }
  }

  // 1024px (tablet horizontal)
  @media screen and (min-width: 64rem) {
    .welcome-background-container {
      padding: 4% 0;
    }

    .welcome-container {
      .welcome-content {
        .welcome-action-buttons {
          flex-direction: row;

          a.join-button {
            width: 52.5%;
          }

          a.learn-more {
            margin-top: 0;
            margin-left: 1.5rem;
            width: 47.5%;
          }
        }
      }

      .welcome-slideshow {
        max-width: 46.875%;
      }
    }
  }

  // 1200px
  @media screen and (min-width: 75rem) {
    .welcome-container {
      margin: 0 4.5vw; // 1280x720 up to 1366x768 only
      max-width: 70rem;

      .welcome-content {
        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.25rem;
        }

        .welcome-action-buttons {
          a {
            font-size: 1.75rem;
          }
        }
      }
    }
  }

  // 1280px
  @media screen and (min-width: 80rem) {
    .welcome-background-container {
      padding: 3% 0;
    }

    .welcome-container {
      max-width: 75rem;

      .welcome-content {
        max-width: 40%;
      }

      .welcome-slideshow {
        max-width: 52.5%;
      }
    }
  }

  // 1366px
  @media screen and (min-width: 85.375rem) {
    margin-top: 2%;

    .welcome-container {
      max-width: 76.875rem;
      margin: 0 auto;
    }
  }

  // 1920px and above
  @media screen and (min-width: 120rem) {
    margin-top: 4%;
  }
}
