// Join form page.
.Join {
  // Mobile styles
  background-image: url('../../assets/join.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .join-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    // padding: 5rem 0;

    .join-container {
      padding: 3rem 1.5rem;
      width: 90vw;
      background-color: #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      height: auto;

      h1 {
        margin-bottom: 3rem;
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        text-align: center;
      }

      form {
        margin-top: 2rem;

        .form-name-row {
          display: flex;
          justify-content: space-between;

          .form-first-name {
            padding-right: 0.5rem;
          }

          .form-last-name {
            padding-left: 0.5rem;
          }
        }

        .form-email {
          margin-top: 1.5rem;

          input {
            width: 100%;
          }
        }

        label {
          display: block;
          font-family: 'Nunito', sans-serif;
          font-size: 1rem;
          line-height: 1;
        }

        input[type='text'],
        input[type='email'] {
          border: 2px solid #fff;
          background-color: #ececec;
          background-clip: padding-box;
          padding: 0.5rem;
          border-radius: 10px;
          width: 100%;
        }

        input[type='text']:focus,
        input[type='email']:focus {
          outline: none;
          border: 2px solid rgb(179, 179, 179);
          background-color: #f3f3f3;
          transition: 0.2s;
          transition-timing-function: ease-in-out;
        }

        input[type='submit'] {
          display: block;

          margin: 1rem auto 0;
          padding: 1rem 2rem;
          width: 100%;

          text-align: center;
          text-decoration: none;
          font-family: 'Nunito', sans-serif;
          font-size: 1.25rem;
          font-weight: bold;

          color: #fff;
          background-color: #4d5eff;

          border-radius: 50px;
          border: none;
          transition: 0.2s;
          transition-timing-function: ease-in-out;
        }

        input[type='submit']:hover {
          background-color: #5767fe;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        input[type='submit']:active {
          background-color: #6574f7;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  // Desktop styles

  // 1280x720 and above
  @media only screen and (min-width: 80rem) {
    .join-flex-container {
      .join-container {
        max-width: 512px;

        form {
          margin-top: 2rem;

          .form-name-row {
            .form-first-name {
              width: 100%;
            }

            .form-last-name {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
