// Coming Soon page.
.ComingSoon {
  height: 100vh;

  .comingsoon-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    // padding: 5rem 0;

    .comingsoon-container {
      // padding: 3rem 1.5rem;
      // width: 90vw;
      // background-color: #fff;
      // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      // border-radius: 10px;
      // height: auto;

      h1 {
        margin-bottom: 3rem;
        font-family: 'Raleway', sans-serif;
        font-size: 4rem;
        text-align: center;
      }
    }
  }

  // Desktop styles

  // 1280x720 and above
  @media screen and (min-width: 80rem) {
    .comingsoon-flex-container {
      .comingsoon-container {
        max-width: 512px;
      }
    }
  }
}
