.heading {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 1rem;

  @media screen and (min-width: 43.75rem) {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.paragraph {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
}

// A paragraph without the margin on the bottom.
.paragraphNoMargin {
  @extend .paragraph;
  margin: 0;
}

// A group of paragraphs. Margin bottom is preserved for all but the last paragraph in the group.
.paragraphGroup {
  & > p {
    @extend .paragraph;

    &:last-child {
      margin: 0;
    }
  }
}
