.joinSuccess {
  margin: 2.5rem auto;
  max-width: 87.5vw;
  font-family: 'Nunito', sans-serif;

  @media screen and (min-width: 80rem) {
    margin: 3rem auto;
    width: 1230px;
  }
}

.emoji {
  font-size: 5rem;
  margin: 0 auto 1rem;
  display: block;
  width: fit-content;
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text {
  //margin-top: 2rem;
  font-size: 1.25rem;

  p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: 43.75rem) {
    margin: 0 auto 1rem;
    max-width: 48rem;
  }
}

.welcomeHeading {
  @extend .heading;

  @media screen and (min-width: 43.75rem) {
    font-size: 3rem;
  }
}

.onboardingStep {
  margin: 0 auto 2rem;
}

.discordContainer {
  margin-bottom: 3rem;
  @media screen and (min-width: 43.75rem) {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.discordWidget {
  flex-basis: 47.5%;
  display: block;
  margin-top: 2rem;
  height: 31.25rem;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.5rem;

  @media screen and (min-width: 43.75rem) {
    margin-top: 0;
    width: auto;
  }
}

.discordInstructions {
  margin-bottom: 2.5rem;

  @media screen and (min-width: 43.75rem) {
    flex-basis: 47.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
}

.discordText {
  @extend .text;

  p {
    margin: 0;
  }

  @media screen and (min-width: 43.75rem) {
    margin: 0;
    width: 100%;
  }
}

.discordButton {
  margin-bottom: 0.25rem;
}

.welcomeSection {
  margin-bottom: 2rem;
}

.communitySection {
  margin: 0 auto 2.25rem;

  h3 {
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
  }
}

.exploreSection {
  margin-bottom: 3rem;
}

.communityText {
  @extend .text;

  @media screen and (min-width: 43.75rem) {
    width: 100%;
  }
}

.buttonContainer {
  margin: 1.25rem auto 3rem;
  font-size: 1.25rem;
  width: 100%;

  @media screen and (min-width: 43.75rem) {
    width: 55%;
  }

  @media screen and (min-width: 64rem) {
    width: 45%;
  }
}

.list {
  @extend .text;
  margin-bottom: 1.5rem;
}
