.about-what-we-do {
  background-color: #fff9ee;

  .about-what-we-do-beginning {
    margin-bottom: 2rem;
  }

  .about-what-we-do-container {
    max-width: 87.5vw;
    margin: 0 auto;
    padding: 3rem 0;
  }
}
