.join {
  // Mobile styles
  background-image: url('../../../assets/join.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .container {
      padding: 2.5rem 1.5rem 3rem;
      width: 90vw;
      background-color: #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      height: auto;

      h1 {
        margin-bottom: 3rem;
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
      }

      form {
        margin-top: 2rem;

        .nameRow {
          display: flex;
          justify-content: space-between;

          .firstName {
            padding-right: 0.5rem;
          }

          .lastName {
            padding-left: 0.5rem;
          }
        }

        .email {
          margin-top: 1.5rem;

          input {
            width: 100%;
          }
        }

        label {
          display: block;
          font-family: 'Nunito', sans-serif;
          font-size: 1.25rem;
          line-height: 1;
        }

        input[type='text'],
        input[type='email'] {
          font-family: 'Nunito', sans-serif;
          font-size: 1.25rem;
          border: 2px solid #fff;
          background-color: #ececec;
          background-clip: padding-box;
          padding: 0.5rem;
          border-radius: 10px;
          width: 100%;
        }

        input[type='text']:focus,
        input[type='email']:focus {
          outline: none;
          border: 2px solid rgb(179, 179, 179);
          background-color: #f3f3f3;
          transition: 0.2s;
          transition-timing-function: ease-in-out;
        }

        button[type='submit'] {
          display: block;

          margin: 2rem auto 0;
          padding: 1rem 2rem;
          width: 100%;

          text-align: center;
          text-decoration: none;
          font-family: 'Nunito', sans-serif;
          font-size: 1.25rem;
          font-weight: bold;

          color: #fff;
          background-color: #4d5eff;

          border-radius: 50px;
          border: none;
          transition: 0.2s;
          transition-timing-function: ease-in-out;
          outline: none;
        }

        button[type='submit']:hover {
          background-color: #5767fe;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        button[type='submit']:active {
          background-color: #6574f7;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  // Landscape mobile registration form
  @media screen and (orientation: landscape) and (max-height: 600px) {
    min-height: 165vh;
  }

  // Desktop styles
  // 768px
  @media screen and (min-width: 48rem) {
    .flexContainer {
      .container {
        max-width: 32rem;

        h1 {
          margin-bottom: 3rem;
          font-family: 'Raleway', sans-serif;
          font-size: 2.25rem;
          font-weight: bold;
          text-align: center;
        }

        form {
          margin-top: 2rem;

          .nameRow {
            .firstName {
              width: 100%;
            }

            .lastName {
              width: 100%;
            }
          }

          button[type='submit'] {
            font-size: 1.5rem;
            width: 98%;
          }
        }
      }
    }
  }
}
