.Footer {
  background-color: #232a67;

  .footer-container {
    padding: 2rem 0;

    p {
      font-size: 0.75rem;
      margin: 0;
      color: #fff;
      text-align: center;
      font-family: 'Nunito', sans-serif;
    }

    a {
      color: rgb(148, 214, 255);
    }
  }

  // Small laptops up to 1280x720
  @media only screen and (min-width: 80rem) {
    .footer-container {
      padding: 1rem 0;

      p {
        font-size: 1rem;
      }
    }
  }
}
