.WelcomeJoin {
  margin: 2.5rem auto;
  max-width: 87.5vw;

  h1 {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }

  .welcomejoin-emoji {
    display: block;
    margin: 0 auto 2.5rem;
    width: fit-content;
    font-size: 5rem;
  }

  .welcomejoin-description {
    margin-top: 2rem;
    font-size: 1.25rem;
  }

  .welcomejoin-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      font-size: 1.75rem;
      margin: 1rem 0;
    }
  }

  @media only screen and (min-width: 80rem) {
    margin: 7.5rem auto 0;
    width: 1230px;
    height: 90vh;

    h1 {
      font-size: 3rem;
    }

    .welcomejoin-emoji {
      font-size: 5rem;
    }

    .welcomejoin-description {
      margin: 2rem auto 0;
      font-size: 1.5rem;
      width: 65%;
    }

    .welcomejoin-links {
      margin-top: 1rem;
      flex-direction: row;
    }

    a {
      padding: 3rem;
    }
  }
}
