.Events {
  .Events-banners-month {
    margin: 1.5rem 0 0.5rem;
    text-align: start;
    font-weight: bold;
  }

  .Events-banners {
    margin: 1rem auto 2rem;
    display: grid;
    gap: 2rem;
  }

  .Events-banners-description {
    margin: 0 0 20%;
    font-size: 1.5rem;
  }

  // Desktop, Tablet, and Horizontal Phone styles

  // 700px/43.75rem and above (Vertical tablets and large horizontal phones)
  @media screen and (min-width: 43.75rem) {
    display: flex;
    flex-direction: column;

    .Events-banners-month {
      margin-top: 1rem;
    }

    .Events-banners {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    p {
      margin: 0 auto;
      max-width: 44rem;
    }
  }

  // 1024px
  @media screen and (min-width: 64rem) {
  }
}
