.Events {
  .events-list {
    margin: 0 auto 2rem;
    padding: 0 2rem;

    li {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    a {
      //padding-left: 0.25rem;
      font-size: 1.5rem;
    }
  }

  // Desktop, Tablet, and Horizontal Phone styles

  // 700px/43.75rem and above (Vertical tablets and large horizontal phones)
  @media screen and (min-width: 43.75rem) {
    display: flex;
    flex-direction: column;

    .events-list {
      padding: 0;

      li {
        font-size: 1.75rem;
      }

      a {
        font-size: 1.75rem;
      }
    }

    p {
      margin: 0 auto;
      max-width: 44rem;
    }
  }
}
