.Events-event {
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
  }

  img:hover {
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.2);
  }

  img:active {
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.15);
  }

  // 1024px
  @media screen and (min-width: 64rem) {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
