.teamMember {
  width: 100%;
  overflow: hidden;
  margin: 0 1rem 2rem;

  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  transition: 0.15s;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 700px) {
    width: 45%;
    margin: 1rem;
  }

  @media screen and (min-width: 1024px) {
    width: 30%;
  }

  @media screen and (min-width: 1200px) {
    width: 25%;
    margin: 0.5rem;
  }
}

.teamMemberLink {
  color: #000 !important;
  text-decoration: none !important;
}

.teamMemberContainer {
  padding: 2rem;
  height: 27.5rem;
  max-height: 27.5rem;

  // Galaxy Fold
  @media screen and (max-width: 310px) {
    height: 35rem;
    max-height: 35rem;
  }

  @media screen and (min-width: 700px) {
    padding: 1.25rem;
    height: 30rem;
    max-height: 30rem;
  }

  @media screen and (min-width: 1024px) {
    height: 28rem;
    max-height: 28rem;
  }
}

.teamMemberImage {
  max-width: 50%;

  display: block;
  margin: 0 auto 0.5rem;
  border: 1px solid lightgray;
  border-radius: 100rem;

  @media screen and (min-width: 541px) {
    max-width: 40%;
  }

  @media screen and (min-width: 700px) {
    max-width: 60%;
  }
}

.teamMemberName {
  margin-bottom: 0.5rem;
}

.teamMemberDescription {
  font-size: 1.125rem;
}
