// Highlight component.

.Highlight {
  // Mobile styles

  margin: 4rem 0;
  padding: 3rem 0;

  .highlight-container {
    max-width: 87.5vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // border: 3px solid red;

    .highlight-content {
      h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
      }

      p {
        font-family: 'Nunito', sans-serif;
        font-size: 1.125rem;
      }

      a {
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
      }
    }

    .highlight-image {
      margin: 2rem auto 0;
      height: auto;
      width: 100%;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
  }

  // Desktop styles

  // 768px
  /*
  @media only screen and (min-width: 48rem) {
    padding: 4rem 0;

    .highlight-container {
      max-width: 43rem;
      align-items: center;
      justify-content: space-between;

      .highlight-content {
        width: 44%;

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.1rem;
        }

        a {
          font-size: 1.5rem;
          color: #4d5eff;
        }
      }

      .highlight-image {
        margin: 0;
        height: auto;
        width: 50%;
        border-radius: 20px;
      }
    }
  }
  */

  // 1024px
  @media only screen and (min-width: 64rem) {
    padding: 4rem 0;

    .highlight-container {
      max-width: 58rem;
      align-items: center;
      justify-content: space-between;

      .highlight-content {
        width: 44%;

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.1rem;
        }

        a {
          font-size: 1.5rem;
          color: #4d5eff;
        }
      }

      .highlight-image {
        margin: 0;
        height: auto;
        width: 50%;
        border-radius: 20px;
      }
    }

    .highlight-container.highlight-learn,
    .highlight-container.highlight-network {
      flex-direction: row-reverse;
    }

    .highlight-container.highlight-collaborate {
      flex-direction: row;
    }
  }

  // 1200px
  @media only screen and (min-width: 75rem) {
    .highlight-container {
      max-width: 68rem;

      .highlight-content {
        width: 44%;

        h2 {
          font-size: 3rem;
        }

        p {
          font-size: 1.25rem;
        }

        a {
          font-size: 1.75rem;
        }
      }
    }
  }

  // 1366px
  @media only screen and (min-width: 85.375rem) {
    .highlight-container {
      max-width: 76.875rem; // 1230px

      .highlight-content {
        width: 44%;

        h2 {
          font-size: 3rem;
        }

        p {
          font-size: 1.25rem;
        }

        a {
          font-size: 1.75rem;
        }
      }
    }
  }
}
